APPLICATION: Action Recommendation API
APPLICATION_ACRONYM: ACTIONS
VERSION: 1.0.0
DESCRIPTION: This API provides action recommendations to avoid IRs during claim transaactions
COPYRIGHT: "Copyright(C), 2022 IHX Private Limited. All Rights Reserved. Unauthorized access to this system is forbidden and will be prosecuted by law. By accessing this system, you agree that your actions may be monitored if unauthorized usage is suspected."
TERMS_OF_SERVICE: https://www.ihx.in/terms.html
PRVACY_POLICY: https://www.ihx.in/privacy.html
API_PATH: /ACTIONS/v1
BACKEND_CORS_ORIGINS: []
Logger:
  app:
      Level: INFO #c capital - INFO|WARN|DEBUG|ERROR|CRITICAL
      Format: "%(asctime)s-%(process)d-%(levelname)s-%(message)s"
      Filename: "./logs/ACTIONS_app.log"
      MaxBytes: 0
      BackupCount: 0
  main:
    Level: INFO #c capital - INFO|WARN|DEBUG|ERROR|CRITICAL
    Format: "%(asctime)s-%(process)d-%(levelname)s-%(message)s"
    Filename: "./logs/ACTIONS_main.log"
    MaxBytes: 0
    BackupCount: 0
  run:
    Level: INFO #c capital - INFO|WARN|DEBUG|ERROR|CRITICAL
    Format: "%(asctime)s-%(process)d-%(levelname)s-%(message)s"
    Filename: "./logs/ACTIONS_run.log"
    MaxBytes: 0
    BackupCount: 0
Filters:
  # In a 2 stage process classify + extract only the filtered element goes for extraction
  classifier: ["NAME-OF-LABEL"] 
# Add any global configuration values here
SQLToolKit: "sqlalchemy"
Number_of_Actions_Recommended: 3
List_of_Filters:
  - PayerId
  - ICD
# Environment specific values go in the env directory
Mode: development
defaults:
  - _self_
  - store: development
  - processing: development
  - models: development
